@media screen and (min-width: 1280px) {
  .container-fluid {
    width: 1280px;
  }
}
body {
  background-color: #eee;
}
body .container-fluid {
  margin: 0 auto;
  padding: 0;
}
body .container-fluid .row {
  background-color: #fff;
  margin: 0;
}
body .container-fluid .row .col-xl-2 {
  padding: 0;
  width: 190px;
  max-width: 190px;
  background-color: #f6f6f6;
}
body .container-fluid .row .col-xl-2 img {
  width: 100%;
  height: 120px;
  background-color: #ff5e52;
}
body .container-fluid .row .col-xl-2 ul {
  width: 100%;
  list-style: none;
}
body .container-fluid .row .col-xl-2 ul li {
  width: 100%;
  height: 44px;
  line-height: 44px;
}
body .container-fluid .row .col-xl-2 ul li a {
  background-color: #f6f6f6;
  color: #666;
  font-size: 15px;
  padding-left: 25px;
  width: 100%;
  display: block;
}
body .container-fluid .row .col-xl-2 ul li a:hover {
  background-color: #fff;
  color: #444;
}
body .container-fluid .row .col-xl-2 .search {
  background-color: #f9f9f9;
  height: 90px;
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
body .container-fluid .row .col-xl-7 {
  padding: 0;
  flex: 1;
  max-width: 770px;
}
body .container-fluid .row .col-xl-3 {
  width: 320px;
  max-width: 320px;
  padding: 0;
}
