// ①、左侧布局宽度变化大于879 190否则160
// ②、左侧布局宽度从190变化到160后，tab栏行高从44变化成40
// ③、左侧布局宽度从190变化到160后，tab左内边距的变化从25变化到15
// ④、左侧布局宽度从190变化到160后，表单左内边距的变化从15变化到5，输入框的宽度从112变化到102
// ⑤、左侧布局宽度从190变化到160后，左侧logo自适应
// ⑥、右侧布局根据屏幕大小1024大于时显示，小于隐藏。
// ⑦、左侧布局根据屏幕大小720大于时显示，小于隐藏，中间顶部导航大于时隐藏，小于显示
// ⑧、顶部导航样式编写、及除顶部导航栏外，其他内边距问题。
// ⑨、中间宽度，大于1024时最大宽度为770 其他的自适应

// 1024-1280
// 879-1024
// 720 - 1024
@media screen and (min-width: 1280px) {
	.container-fluid {
		width: 1280px;
	}
	.col-xl-7 {
		// ⑨ start
		// max-width: 770px;
		width: 770px;
		// ⑨ end
	}
	.felaol-tab-content {
		// ⑨ start
		width: 720px;
		// ⑨ end
	}
}
@media screen and (min-width: 1024px) {
	// ⑥ start
	.d-xl-block {
		display: block !important;
	}
	// ⑥ end
	.col-xl-7 {
		// ⑨ start
		// max-width: 770px;
		width: calc(100vw - 190px - 320px);
		// ⑨ end
	}
	.felaol-tab-content {
		// ⑨ start
		width: calc(100vw - 190px - 320px - 50px);
		// ⑨ end
	}
}
@media screen and (min-width: 879px) {
	.col-xl-7 {
		// ⑨ start
		// max-width: 770px;
		width: calc(100vw - 190px);
		// ⑨ end
	}
	.felaol-tab-content {
		// ⑨ start
		width: calc(100vw - 190px - 50px);
		// ⑨ end
	}
	.col-xl-2 {
		// ① start
		width: 190px;
		max-width: 190px;
		// ① end

		.felaol-nav-item {
			// ② start
			height: 44px;
			line-height: 44px;
			// ② end

			.felaol-nav-link {
				// ③ start
				padding: 0;
				padding-left: 25px;
				// ③ end
			}
		}
		.felaol-navbar {
			// ④ start
			padding: 15px 0 31px 15px;
			.felaol-form-control {
				width: 112px;
			}
			// ④ end
		}
	}
}
@media screen and (min-width: 720px) {
	// ⑦ start
	.d-md-block {
		display: block !important;
	}
	// ⑦ end
}
@media screen and (max-width: 879px) {
	.col-xl-7 {
		// ⑨ start
		// max-width: 770px;
		width: calc(100vw - 160px);
		// ⑨ end
	}
	.felaol-tab-content {
		// ⑨ start
		width: calc(100vw - 160px - 50px);
		// ⑨ end
	}
	.col-xl-2 {
		// ① start
		width: 160px;
		max-width: 160px;
		// ① end

		.felaol-nav-item {
			// ② start
			height: 40px;
			line-height: 40px;
			// ② end

			.felaol-nav-link {
				// ③ start
				padding: 0;
				padding-left: 15px;
				// ③ end
			}
		}
		.felaol-navbar {
			// ④ start
			padding: 15px 0 31px 5px;

			.felaol-form-control {
				width: 102px;
			}
			// ④ end
		}
	}
}
@media screen and (max-width: 720px) {
	.col-xl-7 {
		// ⑨ start
		// max-width: 770px;
		width: 100vw // ⑨ end
;
	}
	.felaol-tab-content {
		// ⑨ start
		width: calc(100vw - 50px);
		// ⑨ end
	}
	// ⑦ start
	.d-sm-none {
		display: block !important;
	}
	// ⑦ end
	// ⑨ start
	.col-xl-7 {
		background-color: #fff;
		.head-sm-menu {
			.navbar-one {
				padding: 0;
				background-color: #ff5e52;
				img {
					height: 42px;
					margin: 0 auto;
				}

				.navbar-toggler {
					height: 42px;
					padding: 0 20px;
					span {
						color: #fff;
					}
				}
			}
			.navbar-collapse-one {
				form {
					margin: 10px 20.375px;

					input {
						flex: 1;
						height: 34px;
						padding: 5px 5px 5px 10px;
						background-color: #fff;
						font-size: 14px;
						border-radius: 0;
						margin-right: 0;
						outline: none;
					}

					button {
						width: 48px;
						height: 34px;
						padding: 6px;
						border-radius: 0;
						background-color: #ff5e52;
						font-size: 14px;
						color: #fff;
						border: none;
					}
				}
			}
			.navbar-two,
			.navbar-collapse-two {
				background-color: #fff;
				padding: 0;
				padding-left: 10px;

				a {
					font-size: 14px;
					color: #444;
					line-height: 42px;
					padding: 0 10px;
					font-weight: 700;
				}

				.navbar-toggler {
					border: none;
				}
			}
			.navbar-collapse-two {
				z-index: 9999;
				height: calc(100vh - 42px);

				.fixed-top {
					left: unset;
				}
			}
		}
	}
	.closeCollapse {
		transition: none !important;
	}
	// ⑨ end
}
// 公共样式
body {
	background-color: #eee;

	// 修改默认的内边距和外边距
	.container-fluid {
		margin: 0 auto;
		padding: 0;

		.row {
			background-color: #fff;
			margin: 0;

			// 左侧
			.col-xl-2 {
				padding: 0;
				// ① start
				// width: 190px;
				// max-width: 190px;
				// ① end
				background-color: #f6f6f6;
				// 左侧logo
				img {
					width: 100%;
					// ⑤ start
					// height: 120px;
					// ⑤ end
					background-color: #ff5e52;
				}

				// 修改默认的nav-item样式
				.felaol-nav-item {
					// ② start
					// height: 44px;
					// line-height: 44px;
					// ② end

					.felaol-nav-link {
						// ③ start
						// padding: 0;
						// padding-left: 25px;
						// ③ end
						font-size: 15px;
						color: #666;
						background-color: #f6f6f6;

						&:hover {
							background-color: #fff;
							color: #444;
						}
					}
				}

				// 修改默认的导航条样式
				.felaol-navbar {
					border-top: 1px solid #eee;
					border-bottom: 1px solid #eee;
					// ④ start
					// padding: 15px 0 31px 15px;
					// ④ end

					.felaol-form-inline {
						padding-top: 10px;
						.felaol-form-control {
							// ④ start
							// width: 112px;
							// ④ end
							height: 34px;
							padding: 5px 5px 5px 10px;
							background-color: #fff;
							font-size: 14px;
							border-radius: 0;
							margin-right: 0;
							outline: none;
						}

						.felaol-btn {
							width: 48px;
							height: 34px;
							padding: 6px;
							border-radius: 0;
							background-color: #ff5e52;
							font-size: 14px;
							color: #fff;
							border: none;
						}
					}
				}
			}

			.col-xl-7 {
				// ⑨ start
				// padding: 20px 25px 0;
				padding: 0;
				// ⑨ end
				flex: 1;
				// ⑨ start
				// max-width: 790px;
				// ⑨ end

				.middle-body {
					// ⑨ start
					padding: 20px 25px 0;
					// ⑨ end
					.row {
						padding-bottom: 10px;
						margin-bottom: 10px;
						.col-6 {
							width: 360px;
							height: 266px;
							padding: 0;

							.carousel {
								margin-bottom: 10px;
								.carousel-caption {
									height: 41px;
									bottom: 0;
									left: 0;
									padding: 4px 10px 0;
									background-color: rgba(0, 0, 0, 0.7);
									text-align: left;

									&:hover {
										background-color: #ff5e52;
									}

									h5 {
										line-height: 34px;
										margin: 0;
										font-size: 16px;
									}
								}
							}
						}

						.col {
							padding: 0;
							width: 360px;
							height: 266px;

							.felaol-carousel {
								width: calc(50% - 10px) !important;
								height: calc(50% - 5px) !important;
								margin-left: 10px;
								margin-bottom: 10px;

								.carousel-caption {
									height: 41px;
									bottom: 0;
									left: 0;
									padding: 4px 10px 0;
									background-color: rgba(0, 0, 0, 0.7);
									text-align: left;

									&:hover {
										background-color: #ff5e52;
									}

									h5 {
										line-height: 17px;
										margin: 0;
										font-size: 12px;
									}
								}
							}
						}
					}
					// tabs
					.felaol-nav-tabs {
						li {
							a {
								padding: 0;
								font-size: 20px;
								line-height: 34px;
								border: none;
								border-bottom: 2px solid #ff5e52;
							}

							&:nth-child(2) a {
								font-size: 13px;
								line-height: 32px;
								color: #999;
								border-bottom: none;
							}
						}
					}

					.felaol-tab-content {
						// ⑨ start
						// width: 720px;
						// ⑨ end
						overflow: hidden;
						.one {
							padding-top: 20px;
							margin-bottom: 20px;
							line-height: 20px;
							font-size: 14px;
							color: #444;
						}
						.two {
							width: 730px;
							height: 213px;
							padding-top: 15px;
							margin-bottom: 10px;

							li {
								width: calc(25% - 10px) !important;
								margin-right: 10px;
								border: none;
								padding: 0;

								&:last-child {
									margin-right: 10px;
								}

								img {
									width: 132px;
									margin-bottom: 5px;
								}

								& > div {
									color: #666;
									line-height: 20px;
									font-size: 14px;
								}

								&:hover div {
									color: #ff5e52;
								}
							}
						}

						.three {
							.list-group-item {
								padding: 25px 0;
								border: none;
								border-bottom: 1px solid #eee;
								.line1 {
									margin-bottom: 10px;
									.tag {
										position: relative;
										font-size: 12px;
										line-height: 24px;
										background-color: #ff5e52;
										color: #fff;
										// 撑开左右两边
										padding: 0 7px;
										// 距离右边的距离
										margin-right: 9px;

										&::after {
											content: "";
											position: absolute;
											right: -4px;
											top: 50%;
											transform: translateY(-50%);
											border-top: 4px solid transparent;
											border-bottom: 4px solid transparent;
											border-left: 4px solid #ff5e52;
										}
									}
									.title {
										font-size: 22px;
										color: #444;
										line-height: 25px;

										&:hover {
											color: #ff5e52;
										}
									}

									.bi {
										line-height: 25px;
										margin-left: 10px;
										font-style: normal;
										font-size: 12px;
										color: #999;
									}
								}
								.line2 {
									font-size: 12px;
									color: #999;
									line-height: 20px;
								}
								.line3 {
									margin-top: 10px;
									.left {
										img {
											width: 175.5px;
											height: 132px;
											margin-bottom: 6px;
										}
									}
									.right {
										padding-left: 15px;
										.a_body {
											font-size: 14px;
											line-height: 22px;
											color: #777;
											margin-bottom: 10px;
										}

										.a_footer {
											font-size: 12px;
											line-height: 15px;
											color: #999;

											i {
												font-style: normal;
												margin-left: 20px;
											}
										}
									}
									// 对于四个图片的特殊样式
									.right_4 {
										padding-left: 0;
									}
								}
							}
						}
					}

					.footer {
						padding: 20px 0 30px;
						font-size: 12px;
						color: #aaa;
						line-height: 15px;

						div:nth-child(1) {
							margin-bottom: 20px;
						}
					}
				}
			}

			.col-xl-3 {
				width: 320px;
				max-width: 320px;
				padding: 0;
				padding-top: 20px;
				padding-right: 20px;

				img {
					width: 100%;
					margin-bottom: 20px;
				}

				.felaol-card {
					border-radius: 0;
					margin-bottom: 20px;
					.felaol-card-body {
						padding: 0 15px 15px;

						.felaol-badge {
							height: 28px;
							line-height: 28px;
							font-size: 14px;
							color: #fff;
							background-color: #ff5e52;
							border-radius: 0;
							padding: 0 15px;
							margin-top: -1px;
							font-weight: 400;
						}

						.felaol-title {
							margin: 20px 0 10px;
							color: #ff5e52;
							height: 22px;
							line-height: 22px;
						}

						.felaol-text {
							font-size: 12px;
							color: #999;
							line-height: 20px;
						}
					}

					&:hover {
						border-color: #ff5e52;
					}
				}

				.felaol-nav-link-active {
					padding: 0;
					font-size: 20px;
					line-height: 34px;
					border: none;
					border-bottom: 2px solid #ff5e52;
				}

				.list-group-item-action {
					height: 78px;
					padding: 8px 0 8px 0;
					border: none;
					border-bottom: 1px solid #eee;

					> div {
						width: 210px;

						h5 {
							width: 210px;
							font-size: 14px;
							line-height: 20px;
							color: #444;
							margin: 0;
							margin-top: 1px;
						}

						p {
							width: 210px;
							font-size: 12px;
							color: #999;
							line-height: 16px;
							margin: 0;
						}
					}

					&:hover div h5 {
						color: #ff5e52;
					}

					img {
						margin: 0;
						width: 80px;
						height: 60px;
						margin-left: 10px;
					}
				}
			}
		}
	}
}
