@media screen and (min-width: 1280px) {
  .container-fluid {
    width: 1280px;
  }
  .col-xl-7 {
    max-width: 790px;
  }
}
@media screen and (min-width: 1024px) {
  .d-xl-block {
    display: block !important;
  }
}
@media screen and (min-width: 879px) {
  .col-xl-2 {
    width: 190px;
    max-width: 190px;
  }
  .col-xl-2 .felaol-nav-item {
    height: 44px;
    line-height: 44px;
  }
  .col-xl-2 .felaol-nav-item .felaol-nav-link {
    padding: 0;
    padding-left: 25px;
  }
  .col-xl-2 .felaol-navbar {
    padding: 15px 0 31px 15px;
  }
  .col-xl-2 .felaol-navbar .felaol-form-control {
    width: 112px;
  }
}
@media screen and (min-width: 720px) {
  .col-xl-7 {
    padding: 20px 25px 0;
  }
  .d-md-block {
    display: block !important;
  }
}
@media screen and (max-width: 879px) {
  .col-xl-2 {
    width: 160px;
    max-width: 160px;
  }
  .col-xl-2 .felaol-nav-item {
    height: 40px;
    line-height: 40px;
  }
  .col-xl-2 .felaol-nav-item .felaol-nav-link {
    padding: 0;
    padding-left: 15px;
  }
  .col-xl-2 .felaol-navbar {
    padding: 15px 0 31px 5px;
  }
  .col-xl-2 .felaol-navbar .felaol-form-control {
    width: 102px;
  }
}
@media screen and (max-width: 720px) {
  .col-xl-7 {
    padding: 0;
  }
}
body {
  background-color: #eee;
}
body .container-fluid {
  margin: 0 auto;
  padding: 0;
}
body .container-fluid .row {
  background-color: #fff;
  margin: 0;
}
body .container-fluid .row .col-xl-2 {
  padding: 0;
  background-color: #f6f6f6;
}
body .container-fluid .row .col-xl-2 img {
  width: 100%;
  max-height: 120px;
  background-color: #ff5e52;
}
body .container-fluid .row .col-xl-2 .felaol-nav-item .felaol-nav-link {
  font-size: 15px;
  color: #666;
  background-color: #f6f6f6;
}
body .container-fluid .row .col-xl-2 .felaol-nav-item .felaol-nav-link:hover {
  background-color: #fff;
  color: #444;
}
body .container-fluid .row .col-xl-2 .felaol-navbar {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
body .container-fluid .row .col-xl-2 .felaol-navbar .felaol-form-inline {
  padding-top: 10px;
}
body .container-fluid .row .col-xl-2 .felaol-navbar .felaol-form-inline .felaol-form-control {
  height: 34px;
  padding: 5px 5px 5px 10px;
  background-color: #fff;
  font-size: 14px;
  border-radius: 0;
  margin-right: 0;
  outline: none;
}
body .container-fluid .row .col-xl-2 .felaol-navbar .felaol-form-inline .felaol-btn {
  width: 48px;
  height: 34px;
  padding: 6px;
  border-radius: 0;
  background-color: #ff5e52;
  font-size: 14px;
  color: #fff;
  border: none;
}
body .container-fluid .row .col-xl-7 {
  flex: 1;
}
body .container-fluid .row .col-xl-7 .row {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
body .container-fluid .row .col-xl-7 .row .col-6 {
  height: 266px;
  padding: 0;
}
body .container-fluid .row .col-xl-7 .row .col-6 .carousel {
  margin-bottom: 10px;
}
body .container-fluid .row .col-xl-7 .row .col-6 .carousel .carousel-caption {
  height: 41px;
  bottom: 0;
  left: 0;
  padding: 4px 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
}
body .container-fluid .row .col-xl-7 .row .col-6 .carousel .carousel-caption:hover {
  background-color: #ff5e52;
}
body .container-fluid .row .col-xl-7 .row .col-6 .carousel .carousel-caption h5 {
  line-height: 34px;
  margin: 0;
  font-size: 16px;
}
body .container-fluid .row .col-xl-7 .row .col {
  padding: 0;
  width: 360px;
  height: 266px;
}
body .container-fluid .row .col-xl-7 .row .col .felaol-carousel {
  width: calc(50% - 10px) !important;
  height: calc(50% - 5px) !important;
  margin-left: 10px;
  margin-bottom: 10px;
}
body .container-fluid .row .col-xl-7 .row .col .felaol-carousel .carousel-caption {
  height: 41px;
  bottom: 0;
  left: 0;
  padding: 4px 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
}
body .container-fluid .row .col-xl-7 .row .col .felaol-carousel .carousel-caption:hover {
  background-color: #ff5e52;
}
body .container-fluid .row .col-xl-7 .row .col .felaol-carousel .carousel-caption h5 {
  line-height: 17px;
  margin: 0;
  font-size: 12px;
}
body .container-fluid .row .col-xl-7 .felaol-nav-tabs li a {
  padding: 0;
  font-size: 20px;
  line-height: 34px;
  border: none;
  border-bottom: 2px solid #ff5e52;
}
body .container-fluid .row .col-xl-7 .felaol-nav-tabs li:nth-child(2) a {
  font-size: 13px;
  line-height: 32px;
  color: #999;
  border-bottom: none;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content {
  width: 720px;
  overflow: hidden;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .one {
  padding-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 14px;
  color: #444;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .two {
  width: 730px;
  height: 213px;
  padding-top: 15px;
  margin-bottom: 10px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .two li {
  width: calc(25% - 10px) !important;
  margin-right: 10px;
  border: none;
  padding: 0;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .two li:last-child {
  margin-right: 10px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .two li img {
  width: 132px;
  margin-bottom: 5px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .two li > div {
  color: #666;
  line-height: 20px;
  font-size: 14px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .two li:hover div {
  color: #ff5e52;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item {
  padding: 25px 0;
  border: none;
  border-bottom: 1px solid #eee;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line1 {
  margin-bottom: 10px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line1 .tag {
  position: relative;
  font-size: 12px;
  line-height: 24px;
  background-color: #ff5e52;
  color: #fff;
  padding: 0 7px;
  margin-right: 9px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line1 .tag::after {
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #ff5e52;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line1 .title {
  font-size: 22px;
  color: #444;
  line-height: 25px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line1 .title:hover {
  color: #ff5e52;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line1 .bi {
  line-height: 25px;
  margin-left: 10px;
  font-style: normal;
  font-size: 12px;
  color: #999;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line2 {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line3 {
  margin-top: 10px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line3 .left img {
  width: 175.5px;
  height: 132px;
  margin-bottom: 6px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line3 .right {
  padding-left: 15px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line3 .right .a_body {
  font-size: 14px;
  line-height: 22px;
  color: #777;
  margin-bottom: 10px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line3 .right .a_footer {
  font-size: 12px;
  line-height: 15px;
  color: #999;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line3 .right .a_footer i {
  font-style: normal;
  margin-left: 20px;
}
body .container-fluid .row .col-xl-7 .felaol-tab-content .three .list-group-item .line3 .right_4 {
  padding-left: 0;
}
body .container-fluid .row .col-xl-7 .footer {
  padding: 20px 0 30px;
  font-size: 12px;
  color: #aaa;
  line-height: 15px;
}
body .container-fluid .row .col-xl-7 .footer div:nth-child(1) {
  margin-bottom: 20px;
}
body .container-fluid .row .col-xl-3 {
  width: 320px;
  max-width: 320px;
  padding: 0;
  padding-top: 20px;
  padding-right: 20px;
}
body .container-fluid .row .col-xl-3 img {
  width: 100%;
  margin-bottom: 20px;
}
body .container-fluid .row .col-xl-3 .felaol-card {
  border-radius: 0;
  margin-bottom: 20px;
}
body .container-fluid .row .col-xl-3 .felaol-card .felaol-card-body {
  padding: 0 15px 15px;
}
body .container-fluid .row .col-xl-3 .felaol-card .felaol-card-body .felaol-badge {
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  color: #fff;
  background-color: #ff5e52;
  border-radius: 0;
  padding: 0 15px;
  margin-top: -1px;
  font-weight: 400;
}
body .container-fluid .row .col-xl-3 .felaol-card .felaol-card-body .felaol-title {
  margin: 20px 0 10px;
  color: #ff5e52;
  height: 22px;
  line-height: 22px;
}
body .container-fluid .row .col-xl-3 .felaol-card .felaol-card-body .felaol-text {
  font-size: 12px;
  color: #999;
  line-height: 20px;
}
body .container-fluid .row .col-xl-3 .felaol-card:hover {
  border-color: #ff5e52;
}
body .container-fluid .row .col-xl-3 .felaol-nav-link-active {
  padding: 0;
  font-size: 20px;
  line-height: 34px;
  border: none;
  border-bottom: 2px solid #ff5e52;
}
body .container-fluid .row .col-xl-3 .list-group-item-action {
  height: 78px;
  padding: 8px 0 8px 0;
  border: none;
  border-bottom: 1px solid #eee;
}
body .container-fluid .row .col-xl-3 .list-group-item-action > div {
  width: 210px;
}
body .container-fluid .row .col-xl-3 .list-group-item-action > div h5 {
  width: 210px;
  font-size: 14px;
  line-height: 20px;
  color: #444;
  margin: 0;
  margin-top: 1px;
}
body .container-fluid .row .col-xl-3 .list-group-item-action > div p {
  width: 210px;
  font-size: 12px;
  color: #999;
  line-height: 16px;
  margin: 0;
}
body .container-fluid .row .col-xl-3 .list-group-item-action:hover div h5 {
  color: #ff5e52;
}
body .container-fluid .row .col-xl-3 .list-group-item-action img {
  margin: 0;
  width: 80px;
  height: 60px;
  margin-left: 10px;
}
